.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;

  .upload{
    line-height: 32px;
    margin-bottom: 20px;
  }

  .slidedown {
    transition-duration: .1s;
    
    .uploding {
      display: flex;
      align-items: center;
    }
  }

  .source {
    width: 100%;
    margin-bottom: 20px;
  }
}

